In [1]:
import pandas as pd
import quandl

In [7]:
quandl.ApiConfig.api_key = "Hzq3sWp4zmh3syzmcNQA"
df = quandl.get("WIKI/GOOGL")

df.tail()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
2018-03-21,1092.57,1108.70,1087.21,1094.00,1990515.0,0.0,1.0,1092.57,1108.70,1087.21,1094.00,1990515.0
2018-03-22,1080.01,1083.92,1049.64,1053.15,3418154.0,0.0,1.0,1080.01,1083.92,1049.64,1053.15,3418154.0
2018-03-23,1051.37,1066.78,1024.87,1026.55,2413517.0,0.0,1.0,1051.37,1066.78,1024.87,1026.55,2413517.0
2018-03-26,1050.60,1059.27,1010.58,1054.09,3272409.0,0.0,1.0,1050.60,1059.27,1010.58,1054.09,3272409.0
2018-03-27,1063.90,1064.54,997.62,1006.94,2940957.0,0.0,1.0,1063.90,1064.54,997.62,1006.94,2940957.0

Since Many redundant columns, focus on the adjusted price:

In [10]:
useful_cols = ['Adj. Open','Adj. High', 'Adj. Low', 'Adj. Close', 'Adj. Volume']
df = df[useful_cols]
df.head()

            Adj. Open  Adj. High   Adj. Low  Adj. Close  Adj. Volume
Date
2004-08-19  50.159839  52.191109  48.128568   50.322842   44659000.0
2004-08-20  50.661387  54.708881  50.405597   54.322689   22834300.0
2004-08-23  55.551482  56.915693  54.693835   54.869377   18256100.0
2004-08-24  55.792225  55.972783  51.945350   52.597363   15247300.0
2004-08-25  52.542193  54.167209  52.100830   53.164113    9188600.0

Now we just have the adjusted columns, and the volume column!

To apply ML, we also need to have more meaningful data:
- Combine high & low price into a difference percentage

In [14]:
df_mod = df.copy()
df_mod['HL_Pct'] = (df_mod['Adj. High'] - df_mod['Adj. Low'])/ df_mod['Adj. Low'] * 100.0

This creates a new column representing the % soread based on the colsing price => A rough measure of volatility.

Next, also calculate daily % change:

In [15]:
df_mod['PCT_Change'] = (df_mod['Adj. Close'] - df_mod['Adj. Open'])/df_mod['Adj. Open'] * 100.0

Now we will define a new dataframe as:

In [16]:
df_mod = df_mod[['Adj. Close', 'HL_Pct', 'PCT_Change', 'Adj. Volume']]
df_mod.head()

            Adj. Close    HL_Pct  PCT_Change  Adj. Volume
Date
2004-08-19   50.322842  8.441017    0.324968   44659000.0
2004-08-20   54.322689  8.537313    7.227007   22834300.0
2004-08-23   54.869377  4.062357   -1.227880   18256100.0
2004-08-24   52.597363  7.753210   -5.726357   15247300.0
2004-08-25   53.164113  3.966115    1.183658    9188600.0